spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/SMS_DB
    username: postgres
    password: ahmed
    port: 5432
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: POSTGRESQL